<div id="enclosing">
    <div id="animals" class="animals">
        <div id="header" class="header">
            <img src="\assets\icons\animals-list-icon.png">
            <div class="list-btns">
                <div (click)="showLocalAnimals()" class="list-btn selected">
                    <a>Local</a>
                </div>
                <div (click)="showAllAnimals()" class="list-btn">
                    <a>Global</a>
                </div>
            </div>
        </div>
        <div id="main" class="main">
            <div class="animal" *ngFor="let a of animalService.getAnimals()">
                <img *ngIf="a.catched" id="animalImg" class="animalImgCatched {{a.name}}" src="{{a.imageUrl}}" (click)="onClickAnimal(a)">
                <img *ngIf="!a.catched" id="animalImg" class="animalImg {{a.name}}" src="{{a.imageUrl}}" (click)="onClickAnimal(a)">
            </div>
        </div>
        <div id="bar" class="bar"></div>
        <div id="footer" class="footer">
        </div>
    </div>
</div>