#enclosing{
    width: 100%;
    height: 100%;
    background-color: #B2905B;
}

.animals{
    display: grid;
    height: 100%;
    grid-template-columns: 2% 49% 49%;
    grid-template-rows: 10% 83% 7%;
    grid-template-areas: 
        "header header header"
        "bar animals animals"
        "bar footer footer";
}

.animals.right{
    grid-template-columns: 49% 49% 2%;
    grid-template-areas: 
        "header header header"
        "animals animals bar"
        "footer footer bar";
}

.header{
    padding-right: 0.6em;
    padding-left: 0.1em;
    background-color: #D6BA8F;
    grid-area: header;
    border: 2px solid black;
    border-radius: 0px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.right{
    border-radius: 5px 0px 0px 0px;
    flex-direction: row-reverse;
}

.main{
    direction: rtl;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-image: url("/assets/img/animals-list-bg2.PNG"); */
    background-color: #33230966;
    filter: grayscale(60%);
    background-size: cover;
    grid-area: animals;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 5px;

    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3px;
    /* align-items: center; */
    justify-content: center;
    justify-items: center;
    align-content: start;
}

.main.right{
    direction: ltr;
}

.footer{
    background-color: #D6BA8F;
    grid-area: footer;
    border: 2px solid black;
    border-radius: 0px 0px 5px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p{
    margin: 0px;
    font-size: 14px;
}

.footer .volume-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer span{
    color: black;
}

.footer .volume{
    width: 50%;
}

.footer.right{
    border-radius: 0px 0px 0px 5px;
}

.bar{
    background-color: #9F9F9F;
    grid-area: bar;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 0px solid black;
}

.bar.right{
    border-left: 0px solid black;
    border-right: 2px solid black;
}

.animal {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 3em;
    width: 90%;
    height: 20vh;
    background-color: #222222ee;
    cursor: pointer;
}

.animal:hover{
    box-shadow: 0px 0px 0.2em white;
}

.animal.catched {
    background-color: #00000022;
}

.animalImg {
    width: auto;
    height: 80%;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.animalImgCatched{
    width: auto;
    height: 80%;
    filter: drop-shadow(.1em .1em .3em white);
}

#header img{
    width: auto;
    height: 70%;
}

.list-btn{
    font-weight: 500;
    margin-top: 0.3em;
    margin-left: 0vw;
    border: 2px solid black;
    border-radius: 7px;
    background-color: #9D7760;
    font-size: 0.85em;
    text-align: center;
    padding: 3px 20px;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 2px 10px #7a5843;
}

.list-btn:hover{
    opacity: 1;
    box-shadow: 0px 0px 0px #dac4b8;
}

.list-btn.selected{
    background-color: #c9b2a4;
    opacity: 1;
}