<div id="enclosing">
    <div id="animals">
        <div id="header">
            <img src="\assets\icons\animals-list-icon.png">
            <div class="list-btns">
                <div (click)="showLocalAnimals()" class="list-btn selected">
                    <a>Local</a>
                </div>
                <div (click)="showAllAnimals()" class="list-btn">
                    <a>Global</a>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="animal" *ngFor="let a of animalService.getAnimals()">
                <img *ngIf="a.catched" id="animalImg" class="animalImgCatched {{a.name}}" src="{{a.imageUrl}}" (click)="onClickAnimal(a)">
                <img *ngIf="!a.catched" id="animalImg" class="animalImg {{a.name}}" src="{{a.imageUrl}}" (click)="onClickAnimal(a)">
            </div>
        </div>
        <div id="bar"></div>
        <div id="footer">
            <input type="range" min="0" max="100" value="100" [(ngModel)]="volumeService.volume">
            {{volumeService.volume}}
        </div>
    </div>
</div>