
<div class="image imageDiv">

	<div id="worldTitle">
		<h1>Go to {{getWorldName()}}</h1>
	</div>
	
    <div id="botaoAnt">
        <button (click)="previousWorld()" class="botaoAnterior"> <  </button>
    </div>
    <div id="botaoNxt">
        <button (click)="nextWorld()" class="botaoSeguinte"> > </button>
    </div>
	
	<div id="imageContainer">
		<img class="image" id="image" src='{{getWorld()}}'>
	</div>
	
	<div id="chooseButton">
		<button class="centerButton" (click)="chooseWorld()">Select World!</button>
	</div>
</div>