<div class="info-grid">
    <h2 class="title">{{getCurrAnimalName()}}</h2>
    <button class="back-button" (click)="closeInfoPage()"> Close </button>
    <div class="video-container">
        <div>
            <select name="language" [(ngModel)]="language" (change)="changedLang()">
                <option value="Portuguese">Português</option>
                <option value="English">English</option>
                <option value="Off">Desativadas</option>
            </select>
        </div>
        <div>
            <div class="link-count" *ngIf="end">
                <div class="link" (click)="getAnimalInfoLink()">

                </div>
            </div>
            <video id="animalVideo" src="{{getVideoUrl()}}" controls (timeupdate)="timeUpdate($event)" type="video/mp4">
            </video>
        </div>
        <div class="subtitles">
            <p>
                {{subtitles}}
            </p>
        </div>
    </div>
</div>