.info-grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "back-button title none" 
        "a video b";

    /* background-color: #B2905B; */
    justify-items: center;
    align-items:  center;
}

.bg-image{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    opacity: 90%;
    z-index: -1;
}

#animalVideo{
    width: 100%;
    height: auto;
}

.title{
    grid-area: title;
    text-transform: capitalize;
    background-color: #ffffff99;
    border: none;
}

.filler{
    display: block;
    grid-area: none;
}

.back-button{
    grid-area: back-button;
}

.video-container{
    grid-area: video;
    width: 90% !important;
}

.link-count{
    position: absolute;
    bottom: 17%;
    left: 20%;
    width: 58%;
    height: 68%;
    z-index: 999;
}

.link{
    width: 100%;
    height: 100%;
    border: 3px solid #a5f832;
    text-align: center;
    z-index: 1000;
}

.link:hover{
    box-shadow: 0px 0px 3em white;
}

.video-subtitles{
    position: relative;
}

.subtitles{
    position: absolute;
    top: 82%;
    left: 35%;
    background-color: #000000aa;
    color: white;
    padding: 0px 11px;
}