.info-grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "back-button title none" 
        "a video b";

    background-color: #B2905B;
    justify-items: center;
    align-items:  center;
}

#animalVideo{
    width: 100%;
    height: auto;
}

.title{
    grid-area: title;
}

.filler{
    display: block;
    grid-area: none;
}

.back-button{
    grid-area: back-button;
}

.video-container{
    grid-area: video;
    width: 90% !important;
}

.link-count{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 33%;
    height: 43%;
}

.link{
    position: relative;
    left: -37.5%;
    top: -33%;
    width: 100%;
    height: 100%;
    /* margin-left: 50%;
    margin-top: 50%; */
    border: 3px solid #73AD21;
    text-align: center;
    z-index: 11;
}