<div class="image imageDiv">
    <div id="botaoAnt">
        <button (click)="anteriorIndice()" class="botaoAnterior"> <  </button>
    </div>
    <div id="botaoNxt">
        <button (click)="proximoIndice()" class="botaoSeguinte"> > </button>
    </div>
	<div id="botaoReturnHub">
		<button (click)="returnToHub()" mat-raised-button #tooltip="matTooltip" matTooltip="Go back to hub world" matTooltipHideDelay="100000" class="returnToHub"> < </button>
	</div>
    <div id="videoContainer">
        <video class="image" id="video" (click)="onClickVideo()" autoplay="true">
        <source id="source" src="assets/video/mountain/0.mp4" type="video/mp4">
        </video>
    </div>
</div>
