#container{
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/main-menu-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -20%;
    display: grid;
    grid-template-columns: 5% 65% 30%;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: 
    ". title ."
    ". . buttons";
    justify-content: center;
    align-items: center;
}

.main-title{
    margin: 0px;
    padding: 0px;
    font-size: 10rem;
    font-family: 'Edwardian Script ITC';
    font-weight: lighter;
    color: white;
    grid-area: title;
}

.buttons{
    grid-area: buttons;
}

button{
    padding: 0.5em 3em;
    margin-top: 0.7em;
    margin-bottom: 0px;
    margin-right: 3vw;
}

.settings{
    padding: 0.5em 2.15em;
}