.imageContainer{
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.image{
    width: 1440px;
    height: 720px;
}

#botaoAnt, #botaoNxt{
    position: relative  ;
    top: 45%;
    /*grid-row: 1;*/
  }

  /*#botaoAnt{
    grid-column: 1;
  }*/

  #botaoNxt{
    /*grid-column: 3;*/
    right: 0%;
  }